body{
    background-image: url(../img/temp1.png);
    background-color: #202020;
    width: 1920px;
    height: 520px;
}

.Main{margin: auto;}

#Clock{
    font-size: 70px;
    color: white;
    padding-left: 1520px;
    padding-top: 220px;
}

.box {
    float: left;
    width: 33%;
    height: 110px;
}

.box2 {
    float: left;
    width: 50%;
} 
.Text-cw{color: white;}

.Plat-size{
    font-size: 80px;
    padding-left: 80px;
}

.Status{
    padding-top: 10px;
    padding-left: 240px;
    font-size: 25px;
}

.Open{
    font-size: 80px;
    padding-bottom: 40px;
    padding-left: 240px;
    line-height: 45px;
}

.w-tex{
    text-align: center;
    margin-left: 80px;
    margin-right: 700px;
    font-size: 80px;
}

.push-d{
    padding-top: 80px;
}


.Pone{
    padding-left: 100px;
    padding-top: 30px;
}

.slider {
	width: 440px;
}

.slide {
	float: left;
	position: absolute;
	opacity: 0;
	transition: opacity 0s;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}