body{
    background-image: url(img/temp1.png);
    background-color: #202020;
    width: 1920px;
    height: 520px;
}

.Main{
    margin: auto;
}

.Pone{
    color: white;
    font-size: 80px;
    padding-left: 70px;
}

.Main-data{
    color: white;
    font-size: 80px;
    padding-left: 70px;
}

#Clock{
    font-size: 70px;
    color: white;
    padding-left: 1500px;
    padding-top: 335px
}